*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/inspectionProfiles
/.idea/codeStyleSettings.xml
.DS_Store
/build
/captures
src/main/java/com/psi/easymanager/event/CancelReserveEvent.java
src/main/res/mipmap-hdpi/ic_delete.png
src/main/res/mipmap-hdpi/ic_reach.png
.externalNativeBuild
/app/.externalNativeBuild
/app/src/main/jniLibs/
/app/src/main/jni/
/app/.externalNativeBuild/
